@use '../helpers' as *;

.daily-card {
  background-color: var(--color-blue-30);
  border-radius: rem(12);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: rem(16) rem(10);
  gap: rem(16);
  border: solid #{rem(1)} var(--color-blue-10);

  &__temperature {
    font-size: rem(18);
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--color-gray);
  }
}