@use '../helpers' as *;

.daily {
  display: grid;
  row-gap: rem(20);

  &__heading {
    font-weight: 600;
    font-size: rem(20);
    line-height: 1.2;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(#{rem(89)}, 1fr));
    gap: rem(16);
  }
}